.title {
  position: relative;
  top: 3rem;
  font-size: larger;
  padding: 1rem;
  border-radius: 4px;
  border: solid #ccc;
  width: auto;
  flex-wrap: nowrap;
}

form {
  position: relative;
  top: 5rem;
  display: grid;
  grid-template-columns: 1fr;
  width: 20rem;
}

form > input,
select {
  margin-top: 1rem;
  padding: 10px;
}
